---
import { Section } from '@/layouts'
import { getLocaleContent } from '@/modules/i18n/content'
import locales from './locales'
import { ImageGrid } from '@/components'
import backImg from './back.png?url'
import { grainUrl } from '@/styles/theme'
import sharp from 'sharp'

const content = getLocaleContent(locales, Astro)
---

<Section id="welcome">
	<div slot="back">
		<ImageGrid
			src={backImg}
			rows={2}
			cols={4}
			preserveAspectRatio="xMidYMin slice"
			imgProcessing={async (img) => {
				const imgScale = 0.4
				const { width, height } = (await img.metadata()) as Record<
					string,
					number
				>
				return sharp(
					await img
						.resize({
							width: (Math.round(width * imgScale) >> 1) << 1,
							height: (Math.round(height * imgScale) >> 1) << 1,
							fit: 'contain',
						})
						.greyscale()
						.webp({
							quality: 1,
							alphaQuality: 0,
						})
						.toBuffer(),
				)
			}}
		/>
		<div
			style={{
				maskImage: [
					'linear-gradient(#000 80%, #fff)',
					grainUrl,
					'linear-gradient(#fff, #fff)',
				].join(),
			}}
		>
		</div>
	</div>

	<div class="hi">
		<p>{content.hi}</p>
		<h1>{content.iam}</h1>
		<p>{content.status}</p>
	</div>

	<div class="infos">
		<p>{content.what}</p>
	</div>

	<p class="footer">{content.easteregg}</p>

	<style lang="scss">
		@use '@/styles/layout.module.scss';

		:global(.back) {
			display: flex;
			align-items: flex-end;
			user-select: none;

			& > div {
				overflow: hidden;

				& > div {
					mask-mode: luminance;
					mask-size: 800px;
					mask-composite: add, exclude;
					background-color: theme.$color-white;
					height: 100%;
				}

				svg {
					position: absolute;
					bottom: 0;
					filter: contrast(calc(0.75 + 1 * theme.$bool-is-dark))
						brightness(calc(0.5 + (1 - theme.$bool-is-dark)));
					width: 100%;
					height: 50%;
				}
			}
		}

		:global(#welcome) {
			display: grid;
			grid-template-areas:
				'. .'
				'. .'
				'a a'
				'b b'
				'. f';
			// display: flex;
			// align-items: center;
			clip-path: inset(0 0 0 0);
			min-height: min(100vh, layout.$window-max-width / 1.33);
		}

		.hi {
			grid-area: a;
			font-size: 1.75rem;

			h1 {
				font-size: 2em;
			}
		}

		.infos {
			grid-area: b;
			backdrop-filter: blur(0.5rem) brightness(115%);
			box-sizing: border-box;
			margin: auto;
			border: 1px solid theme.$color-dark-grey;
			border-radius: 0.5rem;
			padding: 0.75rem;
			width: 100%;
			height: fit-content;
		}

		.footer {
			grid-area: f;
			margin: auto 0 0 auto;
			color: theme.$color-black;
		}
	</style>
</Section>
