---
import { Section } from "@/layouts"
import { getLocaleContent } from "@/modules/i18n/content"
import ContactForm from "./ContactForm.astro"
import locales from "./locales"
import infos from "@/data/infos"
import { Ref, Title } from "@/components"

export const id = "contact"

const content = getLocaleContent(locales, Astro)
---

<Section id={id} layout="col2">
	<Title title={content.title} variant="left">
		<p slot="pre" role="heading" style="font-size: 1.75rem;">{content.still}</p>
		<p>
			{content.content}
			<Ref href={`mailto:${infos.owner.email}`} label={infos.owner.email}/>
		</p>
	</Title>
	<ContactForm />
</Section>

<style lang="scss">
	a {
		color: theme.$color-main;
	}
</style>