---
import type { PostHydrated } from '@/content'
import GridArt from '@/components/tiles'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { Image } from 'astro:assets'

interface Props {
	post: PostHydrated
}

const {
	post: {
		hash,
		data: { title, description, cover },
	},
} = Astro.props
---

<a href={getRelativeLocaleUrl(Astro.currentLocale as string, '/posts/' + hash)}>
	<section>
		<p role="heading">{title}</p>
		{description && <p>{description}</p>}
		<!-- {
			cover ? (
				<Image src={cover} alt="cover" />
			) : (
				<GridArt
					preserveAspectRatio="xMidYMin slice"
					width={3}
					height={3}
					seed={hash}
				/>
			)
		} -->
		<GridArt
			preserveAspectRatio="xMidYMin slice"
			width={3}
			height={3}
			seed={hash}
		/>
	</section>
</a>

<style lang="scss">
	section {
		display: flex;
		flex-direction: column;
		gap: 1em;
		border: 1px solid color-mix(in srgb, currentColor, transparent 70%);
		padding: 1em;
		width: calc(100% - 2em);
		height: calc(100% - 2em);

		p[role='heading'] {
			display: inline-flex;
			justify-content: space-between;
			font-weight: bold;
		}

		p {
			text-wrap: balance;
		}

		:global(:last-child) {
			aspect-ratio: 2;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
</style>
